[flake8]
max-line-length = 120

ignore = E266, W503, E203

exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    migrations,
    .idea,
    *.sqlite3,
    settings.py
import-order-style = pycharm

max-complexity = 12